@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll bar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
